/**
font-family: 'Quicksand', sans-serif;
font-family: 'Vina Sans', cursive;
**/

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.grid-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header header header"
        "sidebar main main  "
        "footer footer footer ";
}

.header {
    grid-area: header;
    position: sticky;
    top: 0;
}

nav button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 10rem;
}

#brand-text {
    font-family: 'Vina Sans', cursive;
    font-size: 3rem;
}

.sidebar {
    grid-area: sidebar;
    padding-left: 1rem;
    padding-right: 5rem;
    background-color: #ede0d6;
}

#color-texto-side {
    color: brown;
}

.main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 15px;
    overflow-y: scroll;
    background-color: #faf7f0;
}

.products-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

#card-producto {
    max-width: 540px;
    height: 15rem
}

#info-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#titulo-producto {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

#texto-producto {
    font-family: 'Quicksand', sans-serif;
    height: 7rem;
}


.footer {
    grid-area: footer;
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: 'Quicksand', sans-serif
}

#icono-footer {
    height: 50%;
}